<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="../public/chat.css" rel="stylesheet">
    <title>채팅방</title>
  </head>
  <body>

    <h4>소켓 채팅방</h4>
    <input id="input1">
    <div id="content"></div>
    <button id="send">서버에 메시지 보내기</button>
    <button id="room1">채팅방1 입장</button>
    <button id="room1-send">채팅방1에서 메시지 보내기</button>

  </body>
   <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
   <script>

    var socket = io();
    // 유저가 서버한테 실시간 메시지 보내기 socket.emit(작명, 메시지)
    $('#send').click(function(){
        socket.emit('user-send', $('#input1').val())
    })

    // 메시지 수신은 언제나 socket.on
    socket.on('broadcast', function(data){   // 서버가 broadcast 이름으로 메시지 보내면
       $('#content').append('<div>' + data + '</div>')  // 그 메시지로 <div> 하나 추가해줘
    })

    // 채팅방1에 입장시켜줘 (소켓에서는 GET / {POST 대체 가능})
    $('#room1').click(function(){
        socket.emit('joinroom', '채팅방입장시켜줘')
    })

     $('#room1-send').click(function(){
        socket.emit('room1-send', '안녕 채팅방1 사람들아')
    })

    </script>
  </body>
</html>